body {
  background: #ddd;
}

#search-form {
}

#delete-form {
}

a:link {
  text-decoration: none;
}

table.listing th {
  margin: 0px;
  padding: 0.25em;
}

table.listing td {
  margin: 0px;
  padding: 0.25em;
}

.container-narrow {
  max-width: 720px;
  margin: 0 auto;
}
