{% extends "layout.html" %}

{% import "helpers.html" as helpers %}

{% block content %}
{% if size_of_lists == 0 %}
<em>No URLs found! Want to <a href="/new">create one</a>?
{% else %}
<table>
  <tr>
    <th>Recently created</th>
    <th>Recently accessed</th>
    <th>Most popular</th>
  </tr>
  {% for n in range(size_of_lists) %}
  <tr>
    <td>{{ helpers.format_url_cell(recent[n]) }}</td>
    <td>{{ helpers.format_url_cell(active[n]) }}</td>
    <td>{{ helpers.format_url_cell(clicks[n]) }}</td>
  </tr>
  {% endfor %}
</table>

<a href="/new">Create new link</a>
{% endif %}
{% endblock %}
