<!doctype html>
<html>
  <head>
    <title>{% block title %}bouncer :: private link directory{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/jquery.js"></script>
  </head>
  <body>
    <a href="/">&#8962; bouncer</a>
    {% block searchbox -%}
    <form id="search-form" action="/find">
    <input type="text" name="q" size="20" value="{{ search }}">
    <input type="submit" value="?">
    </form>
    {%- endblock %}
    <br>
    {% block content %}{% endblock %}
  </body>
  {% block postbody %}{% endblock %}
</html>
